@using Microsoft.AspNetCore.Authorization
@using Clients
@using Models
@inject AuthenticatedClient authClient;
@attribute [Authorize]

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">@title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@CancelAsync">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="@ConfirmAsync">Delete</button>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public Game? Game { get; set; }
  [Parameter]
  public EventCallback<bool> OnClose { get; set; }
  private string title = string.Empty;

  protected override void OnParametersSet() => title = $"Delete {Game?.Name}?";

  private async Task ConfirmAsync()
  {
    await authClient.DeleteGameAsync(Game!.Id);
    await OnClose.InvokeAsync(true);
  }

  private async Task CancelAsync()
  {
    await OnClose.InvokeAsync(false);
  }
}